$header-height: 180px;

.footer {
    background-color: #1e1e1e;
    width: 100%;
    color: #ffffff;
    margin-top: 50px;


    @include mq('tablet') {
        height: $header-height;
    }

    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 5px;
        height: 100%;

        @include mq("tablet") {
            flex-direction: row;
        }
    }

    &__logo {
        order: 2;
        padding-left: 10px;
        padding-bottom: 30px;


        flex-shrink: 0;
        color: #fff;

        @include mq {
            padding-left: 0;
            padding-bottom: 0;
            order: initial;
        }

        img {
            height: 100%;
        }
    }

    &__back {
        order: 1;
        margin-bottom: 30px;



        @include mq('tablet') {
            margin-bottom: 0;
            order: initial;
        }


    }






}